# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://qpbarnvnapkfnntvbnjx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# Payment Gateway Configuration (mock | manual_transfer | tripay | midtrans)
PAYMENT_PROVIDER=mock

# Notification Configuration (mock | wablas | fonnte)
NOTIFICATION_PROVIDER=mock
